body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 30px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 15px;
}
